
@{
    ViewData["Title"] = "Detail";
}

<h1>User Detail</h1>
<div>
    <h4>Username: @ViewBag.user.Username</h4>
    <h4>Email: @ViewBag.user.Email</h4>
    <h4>Date created: @ViewBag.user.Created</h4>
</div>